body {
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}



.flex {
  display: flex;
  align-items: center;
}

.VipLogo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.drawer-container {
  position: relative;
}

.drawer {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  z-index: 1;
}

.drawer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drawer li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.drawer li:last-child {
  border-bottom: none;
}

.toggle-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.toggle-button:hover {
  background-color: #555;
}
